

@media (max-width: 768px) {


    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: #333;
        width: 200px;
        text-align: right;
        padding: 15px;
        box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    .nav-links.active {
        display: flex;
    }

    .menu-btn {
        display: block;
    }





    .about-content {
        flex-direction: column;
        text-align: center;
    }
    
   

   

    .aoimage {
        width: 100%;
        padding-right: 79px;
        padding-bottom: 70px;
    }   

    .protext {
        width: 100%;
        /* justify-content: center; */
    }


    .proimage {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-top: 10px;
    }

    .proooimimg::after {
        content: "";
        position: absolute;
        right: 11px;
        top: 7px;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        border: 7px solid #4fb7dc;
        z-index: -1;
    }

    .imageWrapper::after {
        content: "";
        position: absolute;
        left: 11px;
        top: 7px;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        border: 7px solid #4fb7dc;
        z-index: -1;
    }


    .aotext {
        width: 100%;
    }

    .about-section h2 {
        font-size: 30px;
    }


    .bigboss {
        width: 100%;
    }

    .hero h1 {
        font-size: 35px;
    }


    .contact-area-bottom {
        width: 100%
    }

    .address-section {
        width: 100%;
    }

    .contact-area {
        border-top-right-radius: 110px;
        border-top-left-radius: 110px;
    }




}




@media (min-width: 600px) and (max-width: 1024px) {
    /* Styles for tablets */
    body {
      font-size: 18px;
    }
  
    .container {
      max-width: 100%;
      margin: 0 auto;
    }
  
    .menu {
      display: flex;
      flex-direction: row;
    }

    .aotext {
        width: 100%;
        text-align: left;
    }

    .aoimage {
        width: 100%;
        padding-right: 79px;
        padding-bottom: 70px;
    }


    .contact-area {
        border-top-right-radius: 100px;
        border-top-left-radius: 100px;
    }
    
    




  }
  





